<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> Developed by <a target="_blank" href="http://agorabinaria.com">Ágora Binaria</a>.
        </div>
    </div>
</footer>