<% if (Array.isArray(theme.widgets) && theme.widgets.length > 0) { %>

<aside id="sidebar">
    <div>
        <a href="https://angular.builders"
           style="align-content: center"><img src="/css/images/angular.builders.png"
                 width="100%"
                 height="auto"
                 alt="Angular.Builders"></a>
    </div>
    <% theme.widgets.forEach(function(widget) { %>
    <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop"
         class="fa fa-angle-up"></div>
</aside>
<% } %>