<% if (Array.isArray(theme.widgets) && theme.widgets.length > 0) { %>
<aside id="sidebar">
    <% theme.widgets.forEach(function(widget) { %>
    <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop"
         class="fa fa-angle-up"></div>
    <div>
        <a href="https://www.atlantic.dev/angular/"
           style="align-content: center"><img src="/css/images/Angular_Bootcamp_Cruise.png"
                 width="100%"
                 height="auto"
                 alt="Atlantic Bootcamp"></a>
    </div>
</aside>
<% } %>